{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "http": {
      "commandName": "Project",
      "environmentVariables": {
        "logging__output__console__json": "true",
        "server__port": "5555",
        "OTEL__EXPORTER__OTLP__LOGS__ENABLED": "true",
        "OTEL__EXPORTER__OTLP__LOGS__CONSOLEENABLED": "true",
        "OTEL__EXPORTER__OTLP__LOGS__OLTPENABLED": "true",
        "OTEL__EXPORTER__OTLP__LOGS__ENDPOINT": "https://alloy-http.local.josef.guru/v1/logs",
        "OTEL__EXPORTER__OTLP__METRICS__ENABLED": "false",
        "OTEL__EXPORTER__OTLP__METRICS__CONSOLEENABLED": "true",
        "OTEL__EXPORTER__OTLP__METRICS__OLTPENABLED": "true",
        "OTEL__EXPORTER__OTLP__METRICS__ENDPOINT": "https://alloy-http.local.josef.guru:4318",
        "OTEL__EXPORTER__OTLP__TRACES__ENABLED": "true",
        "OTEL__EXPORTER__OTLP__TRACES__CONSOLEENABLED": "true",
        "OTEL__EXPORTER__OTLP__TRACES__OLTPENABLED": "true",
        "OTEL__EXPORTER__OTLP__TRACES__ENDPOINT": "https://alloy-http.local.josef.guru/v1/traces"
      }
    }
  }
}
